
<div class="toto-dashboard-widget list-container">

  <div class="header">
    <div class="title">
      Available Toto Microservices ({{apis.length}})
    </div>
    <div class="icon-container">
      <!-- <button mat-icon-button color="accent" (click)="search()">
        <mat-icon svgIcon="search"></mat-icon>
      </button> -->
      <!-- <svg-icon src="assets/img/search.svg" [applyCss]="true" [svgStyle]="{ 'width.px': 18, 'height.px': 18, 'fill':'white' }" ></svg-icon> -->
    </div>
  </div>

  <div class="apis-container" layout="column">
    <div ng-class="['api-container', api.type, api.smoke ? 'running' : 'not-running']" ng-repeat="api in apis | orderBy : 'name'" layout="row">
      <div layout="column" flex>
        <div class="title">{{api.name}}</div>
        <div class="subtitle">{{api.localhost}}</div>
      </div>
      <div layout="column">
          <div flex></div>
          <div class="status">{{api.statusDesc}}</div>
          <div flex></div>
      </div>
      <div class="actions-container" layout="column">
          <div flex></div>
          <div layout="row">
            <div class="action" ng-click="deploy(api)" ng-if="api.type != 'toto-ci'">
              <md-icon md-svg-src="images/svg/rocket-ship.svg"></md-icon>
            </div>
          </div>
          <div flex></div>
      </div>
    </div>
  </div>
</div>
