
.apis-container {margin: 24px -12px 0 -12px;}

.api-container {padding: 0 12px; border-bottom: 1px solid #3c3c3c; color: rgba(255,255,255,0.7);}
/* .api-container.toto-nodems {border-left: 3px solid #00BCD4;}
.api-container.toto-ms {border-left: 3px solid #F44336;}
.api-container.toto-ci {border-left: 3px solid #CDDC39;}
.api-container.toto-web {border-left: 3px solid #4CAF50;} */
.api-container.running {border-right: 4px solid #517594;}
.api-container.not-running {border-right: 4px solid #670b04;}

.list-container {margin: 6px 0;}
.list-container .list-title {font-size: 16px; opacity: 0.7;}
.list-container .list-subtitle {font-size: 12px; opacity: 0.6;}
.list-container .apis-container {overflow-y: scroll; display: block;}
.list-container .apis-container .api-container {padding: 9px;}
.list-container .apis-container .api-container .title {font-size: 14px;}
.list-container .apis-container .api-container .subtitle {font-size: 10px; margin-top: 3px;}
.list-container .apis-container .api-container .actions-container {outline: none;}
.list-container .apis-container .api-container .actions-container .action {margin: 0 6px; outline: none;}
.list-container .apis-container .api-container .actions-container .action md-icon {fill: rgba(255, 255, 255, 0.7); outline: none;}
.list-container .apis-container .api-container .status {font-size: 12px; margin-right: 12px; opacity: 0.7;}
